nav > ul > li{
    display: inline;
    
}
nav > ul > li > a{
    text-decoration: none;
    
}
footer{
    text-align: center;
}
.image{
    width: 300px;
    align-content: center;
}
.footertext{
    color: orchid;
    font-size: larger;
    text-align: end;
    text-decoration: underline;
}
label{
    display: block;
    margin: 10px;
}
.placeholder{
    width: auto;
    padding-left: 20px;
    max-width: 400px;
}